<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script type="text/javascript" src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/wow.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/common.js"></script>
