<a class="float-shadow" href="https://www.facebook.com/{{site.facebook}}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
<a class="float-shadow" href="https://plus.google.com/{{site.googleplus}}" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
<a class="float-shadow" href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a class="float-shadow" href="https://telegram.me/{{site.telegram}}" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>