---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: "%m.%d.%Y" }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Похожие сообщения</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%m.%d.%Y" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
<div id="gplus-pingback"></div>
<script type='text/javascript'>//<![CDATA[ (function() { var _gp = document.createElement('script'); _gp.type = 'text/javascript'; _gp.async = true; _gp.src = 'http://gplus.kulikovd.ru/pingback?profile=107978573013111120344&url=' + window.location.href; var _s = document.getElementsByTagName('script')[0]; _s.parentNode.insertBefore(_gp, _s.nextSibling); })(); //]]></script>

<div class="top" title="Наверх"><i class="fas fa-angle-double-up"></i></div>
